# Dependencies
node_modules/

# Production build outputs
dist/
build/

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local

